.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 300px;
    margin-top: 30px;

    @media (min-width: 48em) {
        width: 632px;
    }

    .btn {
        border-radius: 1.25rem;
        background-color: var(--color-purple-900);
        padding: 10px 20px;
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 350ms ease-in-out;
        height: max-content;

        &:hover {
            background-color: var(--color-red-900);
        }
    }
}
