.turn-indicator {
    position: absolute;
    bottom: -134px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    width: 191px;
    height: 150px;

    @media (min-width: 48em) {
        bottom: -108px;
    }

    &__content {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__label {
        font-weight: bold;
        display: block;
        margin-bottom: 6px;
    }

    &__time {
        font-size: 3.5rem;
        font-weight: bold;
    }
}
