.player-info {
    background-color: var(--color-white);
    border-radius: 1.25rem;
    border: 3px solid var(--color-black);
    box-shadow: 0 10px 0 0 #000;
    position: relative;
    text-align: center;
    padding: 0.625rem 0;
    width: 8.875rem;
    height: 5.75rem;
    margin-bottom: 20px;


    @media (min-width: 48em) {
        width: 12.5rem;
    }

    @media (min-width: 64em) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: 75em) {
        margin-bottom: 0;
        width: 141px;
        height: 160px;
    }

    &__icon {
        position: absolute;
    }

    .yellow {
        top: 50%;
        right: -10px;
        transform: translateY(-50%);

        @media (min-width: 22em) {
            right: -28px;
        }

        @media (min-width: 64em) {
            right: 90px;
        }

        @media (min-width: 75em) {
            transform: none;
            top: -34px;
            right: 39px;
        }
    }

    .red {
        top: 50%;
        left: -10px;
        transform: translateY(-50%);

        @media (min-width: 22em) {
            left: -28px;
        }

        @media (min-width: 75em) {
            transform: none;
            top: -34px;
            left: 39px;
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 700;

        @media (min-width: 75em) {
            margin-top: 48px;
        }
    }

    &__score {
        font-size: 2rem;
        font-weight: 700;
    }
}

.player-info__score.animate {
    animation: pop 0.3s ease;
}

@media (min-width: 75em) {
    .yellow-player {
        right: 54px;
    }

    .red-player {
        left: 54px;
    }
}

@media (min-width: 81.25em) {
    .yellow-player {
        right: 90px;
    }

    .red-player {
        left: 90px;
    }
}

@media (min-width: 87.5em) {
    .yellow-player {
        right: 160px;
    }

    .red-player {
        left: 160px;
    }
}

@media (min-width: 93.75em) {
    .yellow-player {
        right: 240px;
    }

    .red-player {
        left: 240px;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
