:root {
    --color-black: oklch(0 0 0);
    --color-white: oklch(1 0 89.876);
    --color-purple-900: oklch(0.475 0.234 286.247);
    --color-purple-850: oklch(0.566 0.255 288.134);
    --color-red-900: oklch(0.709 0.185 9.744);
    --color-yellow-900: oklch(0.875 0.133 83.907);
}
